<div class="sidebar">
  <h4>Genre</h4>
  {{#each filterOptions.genres}}
    <button class="btn btn-outline-secondary my-2 w-100" type="button">{{this}}</button>
  {{else}}
    <p>No genres available.</p>
  {{/each}}

  <h4>Year</h4>
  {{#each filterOptions.years}}
    <button class="btn btn-outline-secondary my-2 w-100" type="button">{{this}}</button>
  {{else}}
    <p>No years available.</p>
  {{/each}}

  <h4>Director</h4>
  {{#each filterOptions.directors}}
    <button class="btn btn-outline-secondary my-2 w-100" type="button">{{this}}</button>
  {{else}}
    <p>No directors available.</p>
  {{/each}}
</div>