<form action="/home" method="POST" class="form-inline my-2 my-lg-0">
  <br>
  <div class="search-bar">
    <div class="row">
      <div class="col col-3">
      </div>
      <div class="col-7">
        <nav class="search-bar-1">
          <input class="form-control mr-sm-2" type="search" id="searchQ" name="searchQ" placeholder="Search"
            aria-label="Search">
        </nav>
      </div>
      <div class="col">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </div>
    </div>
  </div>
</form>


{{!-- <div class="container">
  {{#if message}}
  <div class="alert alert-danger">{{message}}</div>
  {{/if}}

  <div class="row">
    {{#each results as |event|}}
    <div class="col-md-4 mb-4">
      <div class="card">
        {{#if event.images}}
        <img src="{{event.images.[0].url}}" class="card-img-top" alt="{{event.name}}">
        {{else}}
        <img src="path/to/default-image.jpg" class="card-img-top" alt="Default Image">
        {{/if}}
        <div class="card-body">
          <h5 class="card-title">{{event.name}}</h5>
          <p class="card-text">{{event.dates.start.localDate}} at {{event.dates.start.localTime}}</p>
          <a href="{{event.url}}" class="btn btn-primary">Book Now</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div> --}}

<br>
{{#if searchedTF}}
  {{#if noData}}
    <div class="position-absolute top-50 start-50 translate-middle">
      <h2>No Movies Found.</h2>
      <button type="button" class="btn btn-outline-secondary d-block mx-auto mt-3" onclick="window.location.href='/home'">Go Back</button>
    </div>
  {{else}}
    <div class="container">
      <div class="row">
        {{#each movies}}
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
          <div class="card bg-dark text-white">
            <img src="{{image}}" class="card-img" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title">{{title}}</h5>
              <p class="card-text">Year: {{year}}</p>
              <p class="card-text">Director: {{director}}</p>
              <p class="card-text">Average Rating: {{avg_rating}}</p>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
  </div>
  {{/if}}
{{/if}}

<div id="movieCarousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <!-- Carousel indicators -->
  <div class="carousel-indicators">
    {{#each movies in chunks of 4}}
    <button type="button" data-bs-target="#movieCarousel" data-bs-slide-to="{{@index}}" class="{{#if @first}}active{{/if}}" aria-label="Slide {{add @index 1}}"></button>
    {{/each}}
  </div>

  <!-- Carousel inner content: movie cards -->
  <div class="carousel-inner">
    {{#each movies in chunks of 4}}
    <div class="carousel-item {{#if @first}}active{{/if}}">
      <div class="container">
        <div class="row">
          {{#each this}}
          <div class="col-md-3">
            <div class="card bg-dark text-white" style="width: 100%;">
              <img src="{{image}}" class="card-img" alt="{{title}}">
              <div class="card-img-overlay">
                <h5 class="card-title">{{title}}</h5>
                <p class="card-text">Year: {{year}}</p>
                <p class="card-text">Director: {{director}}</p>
                <p class="card-text">Average Rating: {{avg_rating}}</p>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>

  <!-- Carousel controls -->
  <button class="carousel-control-prev" type="button" data-bs-target="#movieCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#movieCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
